[Desktop Entry]
Type=Application
Name=PageEdit
Comment=xhtml visual page editor
X-AppImage-Version="${APPIMAGE_FULL_VERSION}"
TryExec=pageedit
Exec=pageedit %F
Icon=pageedit
Categories=Office;
MimeType=application/xhtml+xml;